USE [master]
GO
/****** Object:  Database [ESBA_2021_3CAPAS]    Script Date: 5/11/2021 9:45:31 PM ******/
CREATE DATABASE [ESBA_2021_3CAPAS] ON  PRIMARY 
( NAME = N'ESBA_2021_3CAPAS', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\ESBA_2021_3CAPAS.mdf' , SIZE = 2240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ESBA_2021_3CAPAS_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\ESBA_2021_3CAPAS_log.LDF' , SIZE = 560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
EXEC dbo.sp_dbcmptlevel @dbname=N'ESBA_2021_3CAPAS', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESBA_2021_3CAPAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ESBA_2021_3CAPAS]
GO
/****** Object:  Table [dbo].[tCliente]    Script Date: 5/11/2021 9:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCliente](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre_cliente] [nvarchar](50) NOT NULL,
	[apellido_cliente] [nvarchar](50) NOT NULL,
	[id_tipo_cliente] [int] NOT NULL,
 CONSTRAINT [PK_tCliente] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tTipoDeCliente]    Script Date: 5/11/2021 9:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tTipoDeCliente](
	[id_tipo] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_tipo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tTipoDeCliente] PRIMARY KEY CLUSTERED 
(
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tTipoDeCliente] ON 

INSERT [dbo].[tTipoDeCliente] ([id_tipo], [descripcion_tipo]) VALUES (1, N'Premium')
INSERT [dbo].[tTipoDeCliente] ([id_tipo], [descripcion_tipo]) VALUES (2, N'Standard')
INSERT [dbo].[tTipoDeCliente] ([id_tipo], [descripcion_tipo]) VALUES (3, N'Deluxe')
SET IDENTITY_INSERT [dbo].[tTipoDeCliente] OFF
GO
ALTER TABLE [dbo].[tCliente]  WITH CHECK ADD  CONSTRAINT [FK_tCliente_tTipoDeCliente] FOREIGN KEY([id_tipo_cliente])
REFERENCES [dbo].[tTipoDeCliente] ([id_tipo])
GO
ALTER TABLE [dbo].[tCliente] CHECK CONSTRAINT [FK_tCliente_tTipoDeCliente]
GO
/****** Object:  StoredProcedure [dbo].[sp_Crear_Tipo]    Script Date: 5/11/2021 9:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_Crear_Tipo] 
@descripcion nvarchar(50)
as
insert into tTipoDeCliente(descripcion_tipo)
values(@descripcion)

GO
/****** Object:  StoredProcedure [dbo].[sp_Recuperar_Tipo]    Script Date: 5/11/2021 9:45:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_Recuperar_Tipo]
as
select * from tTipoDeCliente
GO
USE [master]
GO
