USE [ESBA_2021_3CAPAS]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tCliente]') AND type in (N'U'))
ALTER TABLE [dbo].[tCliente] DROP CONSTRAINT IF EXISTS [FK_tCliente_tTipoDeCliente]
GO
/****** Object:  Table [dbo].[tTipoDeCliente]    Script Date: 4/5/2021 21:43:40 ******/
DROP TABLE IF EXISTS [dbo].[tTipoDeCliente]
GO
/****** Object:  Table [dbo].[tCliente]    Script Date: 4/5/2021 21:43:40 ******/
DROP TABLE IF EXISTS [dbo].[tCliente]
GO
USE [master]
GO
/****** Object:  Database [ESBA_2021_3CAPAS]    Script Date: 4/5/2021 21:43:40 ******/
DROP DATABASE IF EXISTS [ESBA_2021_3CAPAS]
GO
/****** Object:  Database [ESBA_2021_3CAPAS]    Script Date: 4/5/2021 21:43:40 ******/
CREATE DATABASE [ESBA_2021_3CAPAS]

ALTER DATABASE [ESBA_2021_3CAPAS] SET COMPATIBILITY_LEVEL = 140
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESBA_2021_3CAPAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ESBA_2021_3CAPAS]
GO
/****** Object:  Table [dbo].[tCliente]    Script Date: 4/5/2021 21:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCliente](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre_cliente] [nvarchar](50) NOT NULL,
	[apellido_cliente] [nvarchar](50) NOT NULL,
	[id_tipo_cliente] [int] NOT NULL,
 CONSTRAINT [PK_tCliente] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tTipoDeCliente]    Script Date: 4/5/2021 21:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tTipoDeCliente](
	[id_tipo] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_tipo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tTipoDeCliente] PRIMARY KEY CLUSTERED 
(
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tTipoDeCliente] ON 

INSERT [dbo].[tTipoDeCliente] ([id_tipo], [descripcion_tipo]) VALUES (1, N'Premium')
INSERT [dbo].[tTipoDeCliente] ([id_tipo], [descripcion_tipo]) VALUES (2, N'Standard')
INSERT [dbo].[tTipoDeCliente] ([id_tipo], [descripcion_tipo]) VALUES (3, N'Deluxe')
SET IDENTITY_INSERT [dbo].[tTipoDeCliente] OFF
GO
ALTER TABLE [dbo].[tCliente]  WITH CHECK ADD  CONSTRAINT [FK_tCliente_tTipoDeCliente] FOREIGN KEY([id_tipo_cliente])
REFERENCES [dbo].[tTipoDeCliente] ([id_tipo])
GO
ALTER TABLE [dbo].[tCliente] CHECK CONSTRAINT [FK_tCliente_tTipoDeCliente]
GO
USE [master]
GO
